In [37]:
###############
### imports ###
###############


import numpy as np
import pandas as pd
import requests
import os



import sqlalchemy as db
from sqlalchemy import create_engine, MetaData, inspect


###########################
### pulling fresh texts ###
###########################


engine = db.create_engine('sqlite:////Users/michaelharnett/Library/Messages/chat.db')
connection = engine.connect()
metadata = db.MetaData()

orig_df = pd.read_sql("select distinct m.rowid ,m.is_from_me IsFromMe ,case when m.is_from_me = 1 then m.account else h.id end as FromPhoneNumber ,datetime((m.date / 1000000000) + 978307200, 'unixepoch', 'localtime') as TextDate, m.text MessageText,c.display_name RoomName from message as m left join handle as h on m.handle_id = h.rowid left join chat as c on m.cache_roomnames = c.room_name left join chat_handle_join as ch on c.rowid = ch.chat_id left join handle as h2 on ch.handle_id = h2.rowid where RoomName LIKE 'Wordle Fam%' order by m.date desc;", engine)






#############################
### making correct tables ###
#############################


df = orig_df[['FromPhoneNumber','TextDate','MessageText']] # taking only the fields I need
df = df.rename(columns = {'FromPhoneNumber':'player', 'TextDate':'date', 'MessageText':'message'}) #fixing names


# Renaming changing the Id from phone number to our names
df.loc[df.player == '+12014523662', 'player'] = 'Danielle'
df.loc[df.player == '+12017253072', 'player'] = 'Dad'
df.loc[df.player == '+15514868670', 'player'] = 'Chris'
df.loc[df.player == 'E:michaelcharnett@gmail.com', 'player'] = 'Michael'


# Creating columns
df['wordle_check'] = ''
df['game_num'] = ''
df['score'] = ''

# fixing indexes
df = df.dropna()
df = df.reset_index()
df =df.drop(columns = ['index'])

#updating values
for i in range(1,len(df)):
    df.loc[i,'wordle_check'] = df.loc[i,'message'][:6]
    df.loc[i,'game_num'] = df.loc[i,'message'][7:10]
    df.loc[i,'score'] = df.loc[i,'message'][11:14]
    

wordledf = df    
wordledf = df[df.wordle_check == 'Wordle']






#######################
### cleaneingtables ###
#######################


## for some reason was erroring..not needed these columns were dropped elsewhere
# # removing unneeded columns
# wordledf = wordledf.drop(columns = ['message', 'date'])
# wordledf = wordledf.drop(columns = ['wordle_check'])


# setting wins/loss in new column    -----------------MAY BE UNNECCESRY 
wordledf[wordledf.score == 'x']
wordledf[wordledf.score == 'X']    #there seems to be case inconsistencies 

wordledf.loc[wordledf.score == 'x','LOSS'] = 1
wordledf.loc[wordledf.score != 'x','LOSS'] = 0

wordledf.loc[wordledf.score == 'X','LOSS'] = 1
wordledf.loc[wordledf.score != 'X','LOSS'] = 0



# individualized tables
michaeldf = wordledf[wordledf.player == 'Michael']
danielledf = wordledf[wordledf.player == 'Danielle']
chrisdf = wordledf[wordledf.player == 'Chris']
daddf = wordledf[wordledf.player == 'Dad']


# ordering the tables
michaeldf = michaeldf.sort_values(by='game_num', ascending = False)
danielledf = danielledf.sort_values(by='game_num', ascending = False)
chrisdf = chrisdf.sort_values(by='game_num', ascending = False)
daddf = daddf.sort_values(by='game_num', ascending = False)

# making a df of just wins to compare against
michaelwindf = michaeldf[michaeldf['score'].astype(str).str.isnumeric()]
dadwindf = daddf[daddf['score'].astype(str).str.isnumeric()]
daniellewindf = danielledf[danielledf['score'].astype(str).str.isnumeric()]
chriswindf = chrisdf[chrisdf['score'].astype(str).str.isnumeric()]



#######################################################################################
########    REALIZING, tables should be made and exprted. thsi can be dane after ######
########################################################################################
#### Win percentages 
#### michael_winpercent = (len(michaelwindf)/len(michaeldf)*100)
#### dad_winpercent = (len(dadwindf)/len(daddf)*100)
#### danielle_winpercent = (len(daniellewindf)/len(danielledf)*100)
#### chris_winpercent = (len(chriswindf)/len(chrisdf)*100)


##############################
#### saving dfs to folder ####
##############################

# michael
michaeldf.to_csv('tables/michaeldf.csv', index = False)
michaelwindf.to_csv('tables/michaelwindf.csv', index = False)

# danielle
danielledf.to_csv('tables/danielledf.csv', index = False)
daniellewindf.to_csv('tables/daniellewindf.csv', index = False)

#chris
chrisdf.to_csv('tables/chrisdf.csv', index = False)
chriswindf.to_csv('tables/chriswindf.csv', index = False)

#dad
daddf.to_csv('tables/daddf.csv', index = False)
dadwindf.to_csv('tables/dadwindf.csv', index = False)

/Users/michaelharnett/opt/anaconda3/envs/metis/lib/python3.8/site-packages/pandas/core/frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)
/Users/michaelharnett/opt/anaconda3/envs/metis/lib/python3.8/site-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [38]:
michaeldf

,player,date,message,wordle_check,game_num,score,LOSS
2,Michael,2022-04-01 22:28:27,Wordle 286 6/6\n\n⬛⬛🟨⬛⬛\n🟨🟨🟨⬛🟨\n🟩⬛🟩🟩🟩\n🟩⬛🟩🟩🟩\n...,Wordle,286,6/6,0.0
7,Michael,2022-03-31 08:03:23,Wordle 285 4/6\n\n⬛🟨⬛⬛⬛\n🟩⬛⬛⬛⬛\n🟩🟩⬛⬛🟩\n🟩🟩🟩🟩🟩,Wordle,285,4/6,0.0
29,Michael,2022-03-30 08:49:55,Wordle 284 2/6\n\n🟩⬛⬛⬛🟨\n🟩🟩🟩🟩🟩\n\nMuahaha,Wordle,284,2/6,0.0
32,Michael,2022-03-29 08:40:05,Wordle 283 5/6\n\n🟩⬛🟩⬛⬛\n🟩⬛🟩⬛⬛\n🟩⬛🟩⬛⬛\n🟩⬛🟩⬛⬛\n...,Wordle,283,5/6,0.0
36,Michael,2022-03-28 14:32:00,Wordle 282 4/6\n\n⬛⬛⬛⬛⬛\n⬛⬛🟨⬛⬛\n⬛🟩🟩🟩🟩\n🟩🟩🟩🟩🟩,Wordle,282,4/6,0.0
57,Michael,2022-03-26 11:51:02,Wordle 280 5/6\n\n🟨⬛⬛⬛⬛\n⬛🟩⬛⬛🟨\n🟨🟩🟨⬛⬛\n⬛🟩⬛🟨⬛\n...,Wordle,280,5/6,0.0
66,Michael,2022-03-25 19:05:29,Wordle 279 4/6\n\n🟨🟩⬛⬛⬛\n⬛🟩⬛🟨⬛\n🟨🟩🟩⬛🟨\n🟩🟩🟩🟩🟩\n...,Wordle,279,4/6,0.0
71,Michael,2022-03-24 08:33:29,Wordle 278 5/6\n\n⬛⬛🟨⬛🟨\n🟨🟨⬛⬛🟨\n🟩🟩⬛⬛🟨\n🟩🟩🟩🟩⬛\n...,Wordle,278,5/6,0.0
76,Michael,2022-03-23 08:52:27,Wordle 277 X/6\n\n⬛🟨⬛🟨⬛\n🟨⬛⬛🟨⬛\n⬛⬛🟨⬛🟨\n🟨⬛⬛🟩🟩\n...,Wordle,277,X/6,0.0
84,Michael,2022-03-22 08:31:57,Wordle 276 3/6\n\n🟨⬛⬛⬛⬛\n🟩⬛🟨🟨🟨\n🟩🟩🟩🟩🟩,Wordle,276,3/6,0.0
121,Michael,2022-03-17 12:28:25,Wordle 271 6/6\n\n🟨⬛⬛⬛⬛\n🟩⬛⬛🟨⬛\n🟩🟨⬛⬛⬛\n🟩🟨⬛🟩⬛\n...,Wordle,271,6/6,0.0
132,Michael,2022-03-16 10:33:43,Wordle 270 4/6\n\n🟩⬛⬛⬛🟨\n🟩🟩🟩⬛⬛\n🟩🟩🟩⬛⬛\n🟩🟩🟩🟩🟩\n...,Wordle,270,4/6,0.0
152,Michael,2022-03-15 08:29:58,Wordle 269 6/6\n\n🟨⬛⬛🟨🟨\n🟩🟨🟩⬛⬛\n🟩⬛🟩⬛⬛\n🟩⬛🟩⬛🟨\n...,Wordle,269,6/6,0.0
171,Michael,2022-03-14 08:46:55,Wordle 268 5/6\n\n🟩⬛⬛⬛⬛\n🟩🟨⬛⬛⬛\n🟩⬛⬛🟨⬛\n🟩⬛🟩⬛🟩\n...,Wordle,268,5/6,0.0
179,Michael,2022-03-13 11:06:23,Wordle 267 5/6\n\n🟨⬛⬛⬛⬛\n⬛⬛⬛⬛🟩\n🟨⬛🟨⬛🟩\n⬛🟩🟩⬛🟩\n...,Wordle,267,5/6,0.0
207,Michael,2022-03-11 11:43:28,Wordle 265 X/6\n\n⬛⬛⬛⬛⬛\n🟨🟩🟩⬛⬛\n⬛🟩🟩🟨⬛\n⬛🟩🟩🟩🟩\n...,Wordle,265,X/6,0.0
234,Michael,2022-03-10 08:45:57,Wordle 264 4/6\n\n🟨⬛🟨⬛⬛\n🟨🟨⬛🟨⬛\n⬛🟩🟨⬛🟩\n🟩🟩🟩🟩🟩,Wordle,264,4/6,0.0
256,Michael,2022-03-09 10:46:43,Wordle 263 3/6\n\n⬛⬛⬛⬛🟩\n⬛⬛🟩⬛🟩\n🟩🟩🟩🟩🟩,Wordle,263,3/6,0.0
282,Michael,2022-03-08 08:30:47,Wordle 262 X/6\n\n🟩⬛⬛⬛⬛\n🟩🟨🟩⬛⬛\n🟩🟨🟩⬛⬛\n🟩⬛🟩🟩🟩\n...,Wordle,262,X/6,0.0
289,Michael,2022-03-07 12:31:24,Wordle 261 4/6\n\n⬛🟨🟩⬛⬛\n🟨🟩🟩⬛⬛\n⬛🟩🟩🟩🟩\n🟩🟩🟩🟩🟩,Wordle,261,4/6,0.0
312,Michael,2022-03-06 10:39:47,Wordle 260 3/6\n\n⬛🟨⬛⬛⬛\n🟨⬛⬛🟨⬛\n🟩🟩🟩🟩🟩,Wordle,260,3/6,0.0
323,Michael,2022-03-05 11:15:52,Wordle 259 3/6\n\n⬛🟨⬛🟨🟨\n🟨🟨🟨⬛🟩\n🟩🟩🟩🟩🟩,Wordle,259,3/6,0.0
333,Michael,2022-03-04 10:43:10,Wordle 258 6/6\n\n🟨🟨⬛⬛⬛\n⬛⬛🟨⬛🟨\n⬛🟨🟨⬛⬛\n⬛⬛🟩🟩⬛\n...,Wordle,258,6/6,0.0
359,Michael,2022-03-03 08:33:14,Wordle 257 5/6\n\n⬛⬛⬛⬛⬛\n⬛🟩🟨🟨⬛\n⬛🟩🟨⬛🟨\n🟨🟩⬛⬛🟩\n...,Wordle,257,5/6,0.0
368,Michael,2022-03-02 18:59:15,Wordle 256 6/6\n\n⬛⬛⬛⬛🟨\n🟨⬛⬛⬛🟨\n🟨🟨🟨⬛⬛\n⬛🟩🟩🟩⬛\n...,Wordle,256,6/6,0.0
392,Michael,2022-03-01 08:56:21,Wordle 255 3/6\n\n⬛⬛⬛🟩🟨\n🟩🟨⬛🟩⬛\n🟩🟩🟩🟩🟩,Wordle,255,3/6,0.0
418,Michael,2022-02-28 08:31:05,Wordle 254 5/6\n\n⬛⬛⬛⬛⬛\n⬛⬛⬛🟨⬛\n🟨🟨⬛⬛⬛\n🟩🟩🟩⬛⬛\n...,Wordle,254,5/6,0.0
426,Michael,2022-02-27 13:02:49,Wordle 253 3/6\n\n⬛⬛🟩🟨⬛\n🟨🟩🟩🟩⬛\n🟩🟩🟩🟩🟩,Wordle,253,3/6,0.0
474,Michael,2022-02-26 12:40:59,Wordle 252 5/6\n\n🟨⬛⬛⬛⬛\n🟩🟨🟨⬛⬛\n🟩🟨🟩⬛⬛\n🟩🟩🟩🟩⬛\n...,Wordle,252,5/6,0.0
483,Michael,2022-02-25 17:00:02,Wordle 251 X/6\n\n⬛⬛⬛⬛⬛\n⬛⬛⬛⬛⬛\n⬛🟩⬛⬛⬛\n⬛🟩⬛⬛⬛\n...,Wordle,251,X/6,0.0
487,Michael,2022-02-24 17:36:29,Wordle 250 4/6\n\n⬛⬛⬛⬛🟩\n⬛⬛⬛⬛🟩\n🟩⬛⬛⬛🟩\n🟩🟩🟩🟩🟩,Wordle,250,4/6,0.0
496,Michael,2022-02-23 00:18:22,Wordle 249 6/6\n\n🟨🟩⬛⬛⬛\n🟨🟩⬛🟨⬛\n⬛🟩🟩⬛🟩\n⬛🟩🟩🟩🟩\n...,Wordle,249,6/6,0.0
500,Michael,2022-02-22 08:21:53,Wordle 248 3/6\n\n⬛⬛⬛🟨⬛\n🟩🟨⬛⬛🟩\n🟩🟩🟩🟩🟩\n\nThe w...,Wordle,248,3/6,0.0
504,Michael,2022-02-21 15:42:11,Wordle 247 3/6\n\n⬛🟨⬛🟨⬛\n🟨🟨🟨⬛🟨\n🟩🟩🟩🟩🟩\n\nWooo,Wordle,247,3/6,0.0
512,Michael,2022-02-20 18:40:07,Wordle 246 4/6\n\n⬛🟩⬛⬛⬛\n⬛🟩🟨🟨⬛\n🟩🟩🟨⬛⬛\n🟩🟩🟩🟩🟩,Wordle,246,4/6,0.0
533,Michael,2022-02-19 10:51:46,Wordle 245 5/6\n\n🟩⬛⬛⬛⬛\n🟩⬛🟩⬛⬛\n🟩🟨🟩⬛⬛\n🟩⬛🟩🟩⬛\n...,Wordle,245,5/6,0.0
552,Michael,2022-02-17 10:14:50,Wordle 243 5/6\n\n🟨⬛⬛⬛⬛\n⬛⬛🟩⬛⬛\n🟩⬛🟩⬛🟩\n🟩🟩🟩⬛🟩\n...,Wordle,243,5/6,0.0
557,Michael,2022-02-16 07:30:39,Wordle 242 4/6\n\n🟨⬛⬛⬛⬛\n⬛⬛⬛🟨🟨\n🟨🟩🟩⬛⬛\n🟩🟩🟩🟩🟩\n...,Wordle,242,4/6,0.0
565,Michael,2022-02-15 21:33:19,Wordle 241 6/6\n\n⬛🟨⬛⬛⬛\n🟩⬛⬛⬛⬛\n🟩⬛⬛🟨⬛\n🟩⬛🟩⬛⬛\n...,Wordle,241,6/6,0.0
577,Michael,2022-02-14 17:41:05,Wordle 240 5/6\n\n⬛⬛🟩⬛🟨\n🟨⬛🟩⬛⬛\n⬛⬛⬛🟨⬛\n⬛🟨🟩⬛⬛\n...,Wordle,240,5/6,0.0
581,Michael,2022-02-13 23:59:20,Wordle 239 6/6\n\n⬛⬛🟨⬛⬛\n🟩🟩⬛⬛⬛\n🟩🟩⬛⬛⬛\n🟩🟩⬛⬛⬛\n...,Wordle,239,6/6,0.0
597,Michael,2022-02-12 00:22:27,Wordle 238 4/6\n\n⬛🟩🟨🟨⬛\n⬛🟩⬛🟨🟨\n🟨🟩🟩⬛🟨\n🟩🟩🟩🟩🟩,Wordle,238,4/6,0.0
601,Michael,2022-02-11 06:58:51,Wordle 237 5/6\n\n⬛🟨⬛🟨⬛\n🟨⬛⬛🟩⬛\n🟨⬛⬛🟩🟩\n⬛🟨🟨🟩🟩\n...,Wordle,237,5/6,0.0
603,Michael,2022-02-10 19:12:08,Wordle 236 6/6\n\n⬛🟨🟨⬛⬛\n🟨🟩⬛🟨⬛\n⬛🟩🟨⬛🟩\n⬛🟩⬛🟩🟩\n...,Wordle,236,6/6,0.0
614,Michael,2022-02-09 08:40:19,Wordle 235 5/6\n\n⬛⬛⬛⬛⬛\n⬛🟨⬛🟨⬛\n⬛🟨🟨⬛⬛\n⬛🟨🟨🟨⬛\n...,Wordle,235,5/6,0.0
618,Michael,2022-02-08 00:06:40,Wordle 234 5/6\n\n⬛🟨⬛⬛⬛\n⬛🟩🟩⬛⬛\n⬛🟩🟩⬛🟩\n⬛🟩🟩⬛🟩\n...,Wordle,234,5/6,0.0
624,Michael,2022-02-07 00:08:46,Wordle 233 2/6\n\n🟩🟩⬛⬛🟨\n🟩🟩🟩🟩🟩,Wordle,233,2/6,0.0
626,Michael,2022-02-06 02:06:13,Wordle 232 5/6\n\n🟩⬛⬛🟨⬛\n🟩🟨⬛⬛⬛\n🟩⬛🟩🟩⬛\n🟩⬛🟩🟩🟩\n...,Wordle,232,5/6,0.0
629,Michael,2022-02-05 10:31:55,Wordle 231 4/6\n\n🟨⬛🟨⬛⬛\n🟩🟩⬛⬛⬛\n🟩🟩🟩⬛🟨\n🟩🟩🟩🟩🟩,Wordle,231,4/6,0.0
632,Michael,2022-02-04 08:41:31,Wordle 230 5/6\n\n🟨🟨⬛⬛⬛\n🟨🟩⬛⬛🟨\n⬛🟩🟩⬛🟨\n🟩🟩🟩🟩⬛\n...,Wordle,230,5/6,0.0

In [69]:

# ordering the tables
michaeldf = michaeldf.sort_values(by='game_num', ascending = False)
danielledf = danielledf.sort_values(by='game_num', ascending = False)
chrisdf = chrisdf.sort_values(by='game_num', ascending = False)
daddf = daddf.sort_values(by='game_num', ascending = False)

#

In [36]:
michaeldf

      player game_num score  LOSS
116  Michael      ’t    ven   0.0
275  Michael      ’t    ott   0.0
241  Michael      zed   “I    0.0
15   Michael      yin         0.0
458  Michael      y b   cau   0.0
..       ...      ...   ...   ...
482  Michael                  0.0
493  Michael                  0.0
515  Michael                  0.0
546  Michael                  0.0
640  Michael                  0.0

[185 rows x 4 columns]

In [47]:
michaeldf = pd.read_csv('tables/michaeldf.csv')
michaelwindf = pd.read_csv('tables/michaelwindf.csv')

In [61]:
michaeldf

     player  game_num score  LOSS
0   Michael       286   6/6   0.0
1   Michael       285   4/6   0.0
2   Michael       284   2/6   0.0
3   Michael       283   5/6   0.0
4   Michael       282   4/6   0.0
5   Michael       280   5/6   0.0
6   Michael       279   4/6   0.0
7   Michael       278   5/6   0.0
8   Michael       277   X/6   0.0
9   Michael       276   3/6   0.0
10  Michael       271   6/6   0.0
11  Michael       270   4/6   0.0
12  Michael       269   6/6   0.0
13  Michael       268   5/6   0.0
14  Michael       267   5/6   0.0
15  Michael       265   X/6   0.0
16  Michael       264   4/6   0.0
17  Michael       263   3/6   0.0
18  Michael       262   X/6   0.0
19  Michael       261   4/6   0.0
20  Michael       260   3/6   0.0
21  Michael       259   3/6   0.0
22  Michael       258   6/6   0.0
23  Michael       257   5/6   0.0
24  Michael       256   6/6   0.0
25  Michael       255   3/6   0.0
26  Michael       254   5/6   0.0
27  Michael       253   3/6   0.0
28  Michael       252   5/6   0.0
29  Michael       251   X/6   0.0
30  Michael       250   4/6   0.0
31  Michael       249   6/6   0.0
32  Michael       248   3/6   0.0
33  Michael       247   3/6   0.0
34  Michael       246   4/6   0.0
35  Michael       245   5/6   0.0
36  Michael       243   5/6   0.0
37  Michael       242   4/6   0.0
38  Michael       241   6/6   0.0
39  Michael       240   5/6   0.0
40  Michael       239   6/6   0.0
41  Michael       238   4/6   0.0
42  Michael       237   5/6   0.0
43  Michael       236   6/6   0.0
44  Michael       235   5/6   0.0
45  Michael       234   5/6   0.0
46  Michael       233   2/6   0.0
47  Michael       232   5/6   0.0
48  Michael       231   4/6   0.0
49  Michael       230   5/6   0.0

In [67]:
michaeldf

     player  game_num score  LOSS
0   Michael       286   6/6   0.0
1   Michael       285   4/6   0.0
2   Michael       284   2/6   0.0
3   Michael       283   5/6   0.0
4   Michael       282   4/6   0.0
5   Michael       280   5/6   0.0
6   Michael       279   4/6   0.0
7   Michael       278   5/6   0.0
8   Michael       277   X/6   0.0
9   Michael       276   3/6   0.0
10  Michael       271   6/6   0.0
11  Michael       270   4/6   0.0
12  Michael       269   6/6   0.0
13  Michael       268   5/6   0.0
14  Michael       267   5/6   0.0
15  Michael       265   X/6   0.0
16  Michael       264   4/6   0.0
17  Michael       263   3/6   0.0
18  Michael       262   X/6   0.0
19  Michael       261   4/6   0.0
20  Michael       260   3/6   0.0
21  Michael       259   3/6   0.0
22  Michael       258   6/6   0.0
23  Michael       257   5/6   0.0
24  Michael       256   6/6   0.0
25  Michael       255   3/6   0.0
26  Michael       254   5/6   0.0
27  Michael       253   3/6   0.0
28  Michael       252   5/6   0.0
29  Michael       251   X/6   0.0
30  Michael       250   4/6   0.0
31  Michael       249   6/6   0.0
32  Michael       248   3/6   0.0
33  Michael       247   3/6   0.0
34  Michael       246   4/6   0.0
35  Michael       245   5/6   0.0
36  Michael       243   5/6   0.0
37  Michael       242   4/6   0.0
38  Michael       241   6/6   0.0
39  Michael       240   5/6   0.0
40  Michael       239   6/6   0.0
41  Michael       238   4/6   0.0
42  Michael       237   5/6   0.0
43  Michael       236   6/6   0.0
44  Michael       235   5/6   0.0
45  Michael       234   5/6   0.0
46  Michael       233   2/6   0.0
47  Michael       232   5/6   0.0
48  Michael       231   4/6   0.0
49  Michael       230   5/6   0.0

In [66]:
michaeldf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   player    50 non-null     object
 1   game_num  50 non-null     int64
 2   score     50 non-null     object
 3   LOSS      50 non-null     float64
dtypes: float64(1), int64(1), object(2)
memory usage: 1.7+ KB

In [65]:
michaeldf.score.astype(str).str.isnumeric()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
Name: score, dtype: bool

In [50]:
michaelwindf = michaeldf[michaeldf['score'].astype(str).str.isnumeric()]

dadwindf = daddf[daddf['score'].astype(str).str.isnumeric()]

daniellewindf = danielledf[danielledf['score'].astype(str).str.isnumeric()]

chriswindf = chrisdf[chrisdf['score'].astype(str).str.isnumeric()]

In [51]:
michaelwindf

Empty DataFrame
Columns: [player, game_num, score, LOSS]
Index: []

In [55]:
michaelwindf = michaeldf[michaeldf['score'].astype(str).str.isnumeric()]

michaelwindf

In [58]:
michaelwindf = michaeldf[michaeldf['score'].astype(str).str.isnumeric()]

In [59]:
michaelwindf

Empty DataFrame
Columns: [player, game_num, score, LOSS]
Index: []

In [60]:

michaeldf[michaeldf['score'].astype(str).str.isnumeric()]

Empty DataFrame
Columns: [player, game_num, score, LOSS]
Index: []

In [75]:
wordledf

,player,date,message,wordle_check,game_num,score,LOSS
1,Dad,2022-04-02 01:54:03,Wordle 287 4/6\n\n⬜⬜🟨⬜🟩\n🟨🟩⬜⬜🟩\n🟩🟩⬜⬜🟩\n🟩🟩🟩🟩🟩,Wordle,287,4/6,0.0
2,Michael,2022-04-01 22:28:27,Wordle 286 6/6\n\n⬛⬛🟨⬛⬛\n🟨🟨🟨⬛🟨\n🟩⬛🟩🟩🟩\n🟩⬛🟩🟩🟩\n...,Wordle,286,6/6,0.0
3,Chris,2022-04-01 10:26:00,Wordle 286 4/6\n\n⬛️⬛️🟨⬛️⬛️\n⬛️🟨🟨🟨⬛️\n🟩🟨🟨🟨⬛️\n...,Wordle,286,4/6,0.0
4,Danielle,2022-04-01 08:28:17,Wordle 286 4/6\n\n⬛🟨🟨🟨⬛\n🟩🟨🟩🟩⬛\n🟩⬛🟩🟩🟩\n🟩🟩🟩🟩🟩,Wordle,286,4/6,0.0
5,Dad,2022-04-01 00:30:15,Wordle 286 5/6\n\n⬜⬜🟩🟩⬜\n⬜⬜🟩🟩🟩\n⬜⬜🟩🟩🟩\n🟩⬜🟩🟩🟩\n...,Wordle,286,5/6,0.0
...,...,...,...,...,...,...,...
628,Danielle,2022-02-05 11:54:27,Wordle 231 4/6\n\n🟨⬛🟨⬛⬛\n⬛🟨⬛⬛🟩\n🟩⬛🟩⬛🟩\n🟩🟩🟩🟩🟩,Wordle,231,4/6,0.0
629,Michael,2022-02-05 10:31:55,Wordle 231 4/6\n\n🟨⬛🟨⬛⬛\n🟩🟩⬛⬛⬛\n🟩🟩🟩⬛🟨\n🟩🟩🟩🟩🟩,Wordle,231,4/6,0.0
632,Michael,2022-02-04 08:41:31,Wordle 230 5/6\n\n🟨🟨⬛⬛⬛\n🟨🟩⬛⬛🟨\n⬛🟩🟩⬛🟨\n🟩🟩🟩🟩⬛\n...,Wordle,230,5/6,0.0
633,Danielle,2022-02-04 08:39:54,Wordle 230 4/6\n\n⬛🟨⬛⬛🟨\n⬛🟨🟨🟨⬛\n🟩🟨🟨🟨🟩\n🟩🟩🟩🟩🟩,Wordle,230,4/6,0.0
634,Dad,2022-02-04 01:43:39,Wordle 230 3/6\n3 for me today\n\n⬜🟨⬜⬜🟨\n🟩🟩🟩🟩⬜...,Wordle,230,3/6,0.0

In [76]:
# converting score to single digit
for i in range(len(wordledf)):
    wordledf.loc[i, 'score'] = wordledf.loc[i, 'score'][0]

KeyError: 0

In [73]:
michaeldf = pd.read_csv('tables/michaeldf.csv')

In [91]:
wordledf.reset_index()

# for i in range(len(wordledf)):
#     wordledf.loc[i, 'score'] = wordledf.loc[i, 'score'][0]
wordledf

,player,date,message,wordle_check,game_num,score,LOSS
1,Dad,2022-04-02 01:54:03,Wordle 287 4/6\n\n⬜⬜🟨⬜🟩\n🟨🟩⬜⬜🟩\n🟩🟩⬜⬜🟩\n🟩🟩🟩🟩🟩,Wordle,287,4/6,0.0
2,Michael,2022-04-01 22:28:27,Wordle 286 6/6\n\n⬛⬛🟨⬛⬛\n🟨🟨🟨⬛🟨\n🟩⬛🟩🟩🟩\n🟩⬛🟩🟩🟩\n...,Wordle,286,6/6,0.0
3,Chris,2022-04-01 10:26:00,Wordle 286 4/6\n\n⬛️⬛️🟨⬛️⬛️\n⬛️🟨🟨🟨⬛️\n🟩🟨🟨🟨⬛️\n...,Wordle,286,4/6,0.0
4,Danielle,2022-04-01 08:28:17,Wordle 286 4/6\n\n⬛🟨🟨🟨⬛\n🟩🟨🟩🟩⬛\n🟩⬛🟩🟩🟩\n🟩🟩🟩🟩🟩,Wordle,286,4/6,0.0
5,Dad,2022-04-01 00:30:15,Wordle 286 5/6\n\n⬜⬜🟩🟩⬜\n⬜⬜🟩🟩🟩\n⬜⬜🟩🟩🟩\n🟩⬜🟩🟩🟩\n...,Wordle,286,5/6,0.0
...,...,...,...,...,...,...,...
628,Danielle,2022-02-05 11:54:27,Wordle 231 4/6\n\n🟨⬛🟨⬛⬛\n⬛🟨⬛⬛🟩\n🟩⬛🟩⬛🟩\n🟩🟩🟩🟩🟩,Wordle,231,4/6,0.0
629,Michael,2022-02-05 10:31:55,Wordle 231 4/6\n\n🟨⬛🟨⬛⬛\n🟩🟩⬛⬛⬛\n🟩🟩🟩⬛🟨\n🟩🟩🟩🟩🟩,Wordle,231,4/6,0.0
632,Michael,2022-02-04 08:41:31,Wordle 230 5/6\n\n🟨🟨⬛⬛⬛\n🟨🟩⬛⬛🟨\n⬛🟩🟩⬛🟨\n🟩🟩🟩🟩⬛\n...,Wordle,230,5/6,0.0
633,Danielle,2022-02-04 08:39:54,Wordle 230 4/6\n\n⬛🟨⬛⬛🟨\n⬛🟨🟨🟨⬛\n🟩🟨🟨🟨🟩\n🟩🟩🟩🟩🟩,Wordle,230,4/6,0.0
634,Dad,2022-02-04 01:43:39,Wordle 230 3/6\n3 for me today\n\n⬜🟨⬜⬜🟨\n🟩🟩🟩🟩⬜...,Wordle,230,3/6,0.0

In [93]:
wordledf = wordledf.reset_index()
wordledf = wordledf.drop(columns = ['index'])

In [94]:
for i in range(len(wordledf)):
    wordledf.loc[i, 'score'] = wordledf.loc[i, 'score'][0]

In [95]:
wordledf

,player,date,message,wordle_check,game_num,score,LOSS
0,Dad,2022-04-02 01:54:03,Wordle 287 4/6\n\n⬜⬜🟨⬜🟩\n🟨🟩⬜⬜🟩\n🟩🟩⬜⬜🟩\n🟩🟩🟩🟩🟩,Wordle,287,4,0.0
1,Michael,2022-04-01 22:28:27,Wordle 286 6/6\n\n⬛⬛🟨⬛⬛\n🟨🟨🟨⬛🟨\n🟩⬛🟩🟩🟩\n🟩⬛🟩🟩🟩\n...,Wordle,286,6,0.0
2,Chris,2022-04-01 10:26:00,Wordle 286 4/6\n\n⬛️⬛️🟨⬛️⬛️\n⬛️🟨🟨🟨⬛️\n🟩🟨🟨🟨⬛️\n...,Wordle,286,4,0.0
3,Danielle,2022-04-01 08:28:17,Wordle 286 4/6\n\n⬛🟨🟨🟨⬛\n🟩🟨🟩🟩⬛\n🟩⬛🟩🟩🟩\n🟩🟩🟩🟩🟩,Wordle,286,4,0.0
4,Dad,2022-04-01 00:30:15,Wordle 286 5/6\n\n⬜⬜🟩🟩⬜\n⬜⬜🟩🟩🟩\n⬜⬜🟩🟩🟩\n🟩⬜🟩🟩🟩\n...,Wordle,286,5,0.0
...,...,...,...,...,...,...,...
202,Danielle,2022-02-05 11:54:27,Wordle 231 4/6\n\n🟨⬛🟨⬛⬛\n⬛🟨⬛⬛🟩\n🟩⬛🟩⬛🟩\n🟩🟩🟩🟩🟩,Wordle,231,4,0.0
203,Michael,2022-02-05 10:31:55,Wordle 231 4/6\n\n🟨⬛🟨⬛⬛\n🟩🟩⬛⬛⬛\n🟩🟩🟩⬛🟨\n🟩🟩🟩🟩🟩,Wordle,231,4,0.0
204,Michael,2022-02-04 08:41:31,Wordle 230 5/6\n\n🟨🟨⬛⬛⬛\n🟨🟩⬛⬛🟨\n⬛🟩🟩⬛🟨\n🟩🟩🟩🟩⬛\n...,Wordle,230,5,0.0
205,Danielle,2022-02-04 08:39:54,Wordle 230 4/6\n\n⬛🟨⬛⬛🟨\n⬛🟨🟨🟨⬛\n🟩🟨🟨🟨🟩\n🟩🟩🟩🟩🟩,Wordle,230,4,0.0
206,Dad,2022-02-04 01:43:39,Wordle 230 3/6\n3 for me today\n\n⬜🟨⬜⬜🟨\n🟩🟩🟩🟩⬜...,Wordle,230,3,0.0

In [79]:
michaelwindf = michaeldf[michaeldf['score'].astype(str).str.isnumeric()]

In [80]:
michaelwindf

Empty DataFrame
Columns: [player, game_num, score, LOSS]
Index: []

In [82]:
#michaeldf[michaeldf['score'].astype(str).str.isnumeric()]
michaelwindf = michaeldf[michaeldf['score'].astype(str).str.isnumeric()]

In [83]:
michaelwindf

Empty DataFrame
Columns: [player, game_num, score, LOSS]
Index: []

In [96]:
###############
### imports ###
###############


import numpy as np
import pandas as pd
import requests
import os



import sqlalchemy as db
from sqlalchemy import create_engine, MetaData, inspect


###########################
### pulling fresh texts ###
###########################


engine = db.create_engine('sqlite:////Users/michaelharnett/Library/Messages/chat.db')
connection = engine.connect()
metadata = db.MetaData()

orig_df = pd.read_sql("select distinct m.rowid ,m.is_from_me IsFromMe ,case when m.is_from_me = 1 then m.account else h.id end as FromPhoneNumber ,datetime((m.date / 1000000000) + 978307200, 'unixepoch', 'localtime') as TextDate, m.text MessageText,c.display_name RoomName from message as m left join handle as h on m.handle_id = h.rowid left join chat as c on m.cache_roomnames = c.room_name left join chat_handle_join as ch on c.rowid = ch.chat_id left join handle as h2 on ch.handle_id = h2.rowid where RoomName LIKE 'Wordle Fam%' order by m.date desc;", engine)






#############################
### making correct tables ###
#############################


df = orig_df[['FromPhoneNumber','TextDate','MessageText']] # taking only the fields I need
df = df.rename(columns = {'FromPhoneNumber':'player', 'TextDate':'date', 'MessageText':'message'}) #fixing names


# Renaming changing the Id from phone number to our names
df.loc[df.player == '+12014523662', 'player'] = 'Danielle'
df.loc[df.player == '+12017253072', 'player'] = 'Dad'
df.loc[df.player == '+15514868670', 'player'] = 'Chris'
df.loc[df.player == 'E:michaelcharnett@gmail.com', 'player'] = 'Michael'


# Creating columns
df['wordle_check'] = ''
df['game_num'] = ''
df['score'] = ''

# fixing indexes
df = df.dropna()
df = df.reset_index()
df =df.drop(columns = ['index'])

#updating values
for i in range(1,len(df)):
    df.loc[i,'wordle_check'] = df.loc[i,'message'][:6]
    df.loc[i,'game_num'] = df.loc[i,'message'][7:10]
    df.loc[i,'score'] = df.loc[i,'message'][11:14]
    

    
# creating wordledf, df of just wordle messages
wordledf = df    
wordledf = df[df.wordle_check == 'Wordle']
wordledf = wordledf.drop(columns = ['message','date','wordle_check'])



# changing scores to remove the denominator, a they're all out of 6
wordledf = wordledf.reset_index()
wordledf = wordledf.drop(columns = ['index'])   ##for some reason, it works if I keep resetting index

for i in range(len(wordledf)):
    wordledf.loc[i, 'score'] = wordledf.loc[i, 'score'][0]




#######################
### cleaneingtables ###
#######################


## for some reason was erroring..not needed these columns were dropped elsewhere
# # removing unneeded columns
# wordledf = wordledf.drop(columns = ['message', 'date'])
# wordledf = wordledf.drop(columns = ['wordle_check'])

# changing data types
wordledf.player = wordledf.player.astype('str')
wordledf.game_num = wordledf.game_num.astype('int')
wordledf.score = wordledf.score.astype('str')




# setting wins/loss in new column    -----------------MAY BE UNNECCESRY 
wordledf[wordledf.score == 'x']
wordledf[wordledf.score == 'X']    #there seems to be case inconsistencies 

wordledf.loc[wordledf.score == 'x','LOSS'] = 1
wordledf.loc[wordledf.score != 'x','LOSS'] = 0

wordledf.loc[wordledf.score == 'X','LOSS'] = 1
wordledf.loc[wordledf.score != 'X','LOSS'] = 0




# individualized tables
michaeldf = wordledf[wordledf.player == 'Michael']
danielledf = wordledf[wordledf.player == 'Danielle']
chrisdf = wordledf[wordledf.player == 'Chris']
daddf = wordledf[wordledf.player == 'Dad']


# ordering the tables
michaeldf = michaeldf.sort_values(by='game_num', ascending = False)
danielledf = danielledf.sort_values(by='game_num', ascending = False)
chrisdf = chrisdf.sort_values(by='game_num', ascending = False)
daddf = daddf.sort_values(by='game_num', ascending = False)

# making a df of just wins to compare against
michaelwindf = michaeldf[michaeldf['score'].astype(str).str.isnumeric()]
dadwindf = daddf[daddf['score'].astype(str).str.isnumeric()]
daniellewindf = danielledf[danielledf['score'].astype(str).str.isnumeric()]
chriswindf = chrisdf[chrisdf['score'].astype(str).str.isnumeric()]



#######################################################################################
########    REALIZING, tables should be made and exprted. thsi can be dane after ######
########################################################################################
#### Win percentages 
#### michael_winpercent = (len(michaelwindf)/len(michaeldf)*100)
#### dad_winpercent = (len(dadwindf)/len(daddf)*100)
#### danielle_winpercent = (len(daniellewindf)/len(danielledf)*100)
#### chris_winpercent = (len(chriswindf)/len(chrisdf)*100)


##############################
#### saving dfs to folder ####
##############################

# michael
michaeldf.to_csv('tables/michaeldf.csv', index = False)
michaelwindf.to_csv('tables/michaelwindf.csv', index = False)

# danielle
danielledf.to_csv('tables/danielledf.csv', index = False)
daniellewindf.to_csv('tables/daniellewindf.csv', index = False)

#chris
chrisdf.to_csv('tables/chrisdf.csv', index = False)
chriswindf.to_csv('tables/chriswindf.csv', index = False)

#dad
daddf.to_csv('tables/daddf.csv', index = False)
dadwindf.to_csv('tables/dadwindf.csv', index = False)

In [97]:
michaelwindf

      player  game_num score  LOSS
2    Michael       286     6   0.0
7    Michael       285     4   0.0
10   Michael       284     2   0.0
13   Michael       283     5   0.0
17   Michael       282     4   0.0
24   Michael       280     5   0.0
28   Michael       279     4   0.0
33   Michael       278     5   0.0
41   Michael       276     3   0.0
53   Michael       271     6   0.0
57   Michael       270     4   0.0
61   Michael       269     6   0.0
67   Michael       268     5   0.0
69   Michael       267     5   0.0
80   Michael       264     4   0.0
84   Michael       263     3   0.0
92   Michael       261     4   0.0
98   Michael       260     3   0.0
102  Michael       259     3   0.0
106  Michael       258     6   0.0
109  Michael       257     5   0.0
112  Michael       256     6   0.0
119  Michael       255     3   0.0
121  Michael       254     5   0.0
124  Michael       253     3   0.0
130  Michael       252     5   0.0
136  Michael       250     4   0.0
142  Michael       249     6   0.0
144  Michael       248     3   0.0
148  Michael       247     3   0.0
152  Michael       246     4   0.0
157  Michael       245     5   0.0
164  Michael       243     5   0.0
168  Michael       242     4   0.0
171  Michael       241     6   0.0
176  Michael       240     5   0.0
179  Michael       239     6   0.0
186  Michael       238     4   0.0
188  Michael       237     5   0.0
190  Michael       236     6   0.0
193  Michael       235     5   0.0
197  Michael       234     5   0.0
200  Michael       233     2   0.0
202  Michael       232     5   0.0
204  Michael       231     4   0.0
205  Michael       230     5   0.0

In [98]:
michael_winpercent = (len(michaelwindf)/len(michaeldf)*100)
dad_winpercent = (len(dadwindf)/len(daddf)*100)
danielle_winpercent = (len(daniellewindf)/len(danielledf)*100)
chris_winpercent = (len(chriswindf)/len(chrisdf)*100)

In [99]:
michael_winpercent

92.0

In [100]:
michaeltable = pd.read_csv('tables/michaeldf.csv')

In [101]:
michaeltable

     player  game_num score  LOSS
0   Michael       286     6   0.0
1   Michael       285     4   0.0
2   Michael       284     2   0.0
3   Michael       283     5   0.0
4   Michael       282     4   0.0
5   Michael       280     5   0.0
6   Michael       279     4   0.0
7   Michael       278     5   0.0
8   Michael       277     X   1.0
9   Michael       276     3   0.0
10  Michael       271     6   0.0
11  Michael       270     4   0.0
12  Michael       269     6   0.0
13  Michael       268     5   0.0
14  Michael       267     5   0.0
15  Michael       265     X   1.0
16  Michael       264     4   0.0
17  Michael       263     3   0.0
18  Michael       262     X   1.0
19  Michael       261     4   0.0
20  Michael       260     3   0.0
21  Michael       259     3   0.0
22  Michael       258     6   0.0
23  Michael       257     5   0.0
24  Michael       256     6   0.0
25  Michael       255     3   0.0
26  Michael       254     5   0.0
27  Michael       253     3   0.0
28  Michael       252     5   0.0
29  Michael       251     X   1.0
30  Michael       250     4   0.0
31  Michael       249     6   0.0
32  Michael       248     3   0.0
33  Michael       247     3   0.0
34  Michael       246     4   0.0
35  Michael       245     5   0.0
36  Michael       243     5   0.0
37  Michael       242     4   0.0
38  Michael       241     6   0.0
39  Michael       240     5   0.0
40  Michael       239     6   0.0
41  Michael       238     4   0.0
42  Michael       237     5   0.0
43  Michael       236     6   0.0
44  Michael       235     5   0.0
45  Michael       234     5   0.0
46  Michael       233     2   0.0
47  Michael       232     5   0.0
48  Michael       231     4   0.0
49  Michael       230     5   0.0