In [11]:
import pandas as pd
import numpy as np
import os


import sqlalchemy as db
from sqlalchemy import create_engine, MetaData, inspect

engine = db.create_engine('sqlite:////Users/michaelharnett/Library/Messages/chat.db')
connection = engine.connect()
metadata = db.MetaData()

savagesdf = pd.read_sql("select distinct m.rowid ,m.is_from_me IsFromMe ,case when m.is_from_me = 1 then m.account else h.id end as FromPhoneNumber ,datetime((m.date / 1000000000) + 978307200, 'unixepoch', 'localtime') as TextDate, m.text MessageText,c.display_name RoomName from message as m left join handle as h on m.handle_id = h.rowid left join chat as c on m.cache_roomnames = c.room_name left join chat_handle_join as ch on c.rowid = ch.chat_id left join handle as h2 on ch.handle_id = h2.rowid where RoomName LIKE 'Savages%' order by m.date desc;", engine)

In [13]:
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
savagesdf = savagesdf[['FromPhoneNumber','TextDate','MessageText']]

In [7]:
savagesdf.rename(columns = {'FromPhoneNumber':'player', "TextDate": 'date', 'MessageText':'text'}, inplace = True)

/Users/michaelharnett/opt/anaconda3/envs/metis/lib/python3.8/site-packages/pandas/core/frame.py:5034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [8]:
savagesdf.loc[savagesdf.player == '+12017248296', 'player'] = 'kell'
savagesdf.loc[savagesdf.player == '+12017447544', 'player'] = 'd'
savagesdf.loc[savagesdf.player == '+18456083263', 'player'] = 'drie'
savagesdf.loc[savagesdf.player == '+12017554735', 'player'] = 'jose'
savagesdf.loc[savagesdf.player == '+12012706619', 'player'] = 'nick'
savagesdf.loc[savagesdf.player == 'E:michaelcharnett@gmail.com', 'player'] = 'michael'
savagesdf.loc[savagesdf.player == 'e:michaelcharnett@gmail.com', 'player'] = 'michael'

/Users/michaelharnett/opt/anaconda3/envs/metis/lib/python3.8/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/Users/michaelharnett/opt/anaconda3/envs/metis/lib/python3.8/site-packages/pandas/core/indexing.py:723: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [9]:
savagesdf

,player,date,text
0,michael,2022-05-01 20:35:23,Wordle 316 4/6\n\nâ¬›â¬›ğŸŸ©â¬›â¬›\nâ¬›â¬›ğŸŸ©â¬›â¬›\nğŸŸ©ğŸŸ©ğŸŸ©â¬›â¬›\nğŸŸ©ğŸŸ©ğŸŸ©ğŸŸ©ğŸŸ©
1,kell,2022-04-30 16:42:50,jealous
2,jose,2022-04-30 15:51:49,Wordle 315 3/6\n\nâ¬›â¬›ğŸŸ¨ğŸŸ©â¬›\nâ¬›ğŸŸ¨ğŸŸ¨ğŸŸ©â¬›\nğŸŸ©ğŸŸ©ğŸŸ©ğŸŸ©ğŸŸ©
3,drie,2022-04-30 14:33:14,Loved â€œIf you can prove itâ€™s your money you ar...
4,drie,2022-04-30 14:33:09,LIKE YOU STOLE from me so I need that back ğŸ˜‚â˜ ï¸
...,...,...,...
10330,jose,2021-07-10 16:28:29,Fuck u nick
10331,jose,2021-07-10 16:28:24,Loved an image
10332,drie,2021-07-10 16:27:03,And im back lol
10333,drie,2021-07-10 16:27:00,Kelly
10334,drie,2021-07-10 16:26:59,ï¿¼

In [10]:
savagesdf.player.value_counts()

kell       2794
d          2313
drie       1704
jose       1510
michael    1363
nick        651
Name: player, dtype: int64

In [17]:
plt.bar(x = list(savagesdf.player), y = savagesdf.player.value_counts())

TypeError: bar() missing 1 required positional argument: 'height'